.App {
  text-align: center;
}

.App-logo-1 {
  height: 50vh;
  pointer-events: none;
}

.App-logo-2 {
  height: 6vw;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-1 {
    animation: App-logo-spin infinite 30s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.typed {
  padding-top: 15vh;
  font-size: calc(10px + 4vmin);
  color: white;
}

.btn-index {
  margin-top: 3vh;
  background-color: #0DCAF0 !important;
  border: #0DCAF0 !important;
}

